.gen-page-modal {
  // .space-item {
  //   height: 70vh;
  // }
  .space-item:last-child {
    flex: 1;
  }
  .checkbox-group {
    .ant-checkbox-wrapper {
      padding: 5px 0;
    }
    label {
      padding: 5px 0;
    }
  }
}
